.menu-image {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 200px; */
}
.menu-image img {
  width: 25%;
  object-fit: cover;
}
.menu-food {
  margin-bottom: 100px;
}

@media (max-width: 769px) {
  .menu-image img {
    width: 50%;
    height: 200px;
    object-fit: cover;
  }
  .menu-food {
    margin-top: -100px;
  }
}